[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
huggingface-hub = "*"
langchain = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
transformers = "*"
requests = "*"
streamlit = "*"
nltk = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
beautifulsoup4 = "*"
bokeh = "*"
lxml = "*"
pyldavis = "*"
pypdf2 = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
