[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
huggingface-hub = "*"
langchain = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
transformers = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
